html, body {
    margin: 0;
    padding: 0;
    /*height: 100%;*/
}

.screen {
	height: 100%;
}

.keyboardContainer, h1, h2 {

}

#underline, #footer, #header, #typewriterContainer, #keyboard, #testDiv, #tuneLockContainer, #keyboardContainer { 
	-moz-transition: all 1s; 
	-webkit-transition: all 1s;  
	-ms-transition: all 1s;  
	-o-transition: all 1s;  
	transition: all 1s;
}

#underline {
	margin-bottom: 50px;
}

#header {
	margin-bottom: 30px;
}

h1, h2 {
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 200;
}

h1 {
	color: #3d3d3d;
	font-size: 55px;
	margin-bottom: 20px;
}

h2 {
	color: #575757;
	font-size: 30px;
	margin-top: 0px;
}

.hovered {
	fill: #a0c3ff;
}

#keyboardContainer  {
	text-align: center;
}

#typewriterContainer {
	margin: auto;
}

.typewriterKey {

    -webkit-transition: opacity 1s;
    font-family: 'Open Sans';
    font-weight: 200;
    
}

.typewriterKeyPlaying {
	background-color: '#4285f4';
	border: '1px solid #4285f4';
}

#footer {
	
	text-align: center;
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: 200;
	padding: 10px;
	width: 120px;
	background-color: #4285f4;
	color: #ffffff;
	margin: auto;
	margin-top: 35px;
	border-radius: 3px;
}

/*#tuneLockContainer {

	margin-bottom: 50px;

}*/

#tuneLock {

	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 60px;
	color: #575757;
	padding-top: 8px;
}

#tuneLockClearButton {

	border-radius: 3px;
	font-family: 'Open Sans';
	font-weight: 200;
	color: white;
	background-color: #a0c3ff;
}


#back {
	float: right;
	margin-top: 25px;
	margin-right: 25px;
}